<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DjangoRocket</title>
</head>
<body>
<h1>DjangoRocket launch page</h1>

<div id="gamepadPrompt"></div>
<p>
<table>
    <tr>
        <td>&nbsp;</td>
        <td><input type="button" class="btn_move" id="btn_up" value="UP"/></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><input type="button" class="btn_move" id="btn_left" value="LEFT"/></td>
        <td>
            <object width="320" height="240" type="application/x-shockwave-flash"
                    data="/files">
                <param name="movie" value="/files"/>
                <param name="allowfullscreen" value="true"/>
                <param name="flashvars"
                       value="config={'clip': {'url': 'http://nerfgun:8090/test.flv', 'autoPlay':true, 'autoBuffering':true}}"/>
            </object>
        </td>
        <td><input type="button" class="btn_move" id="btn_right" value="RIGHT"/></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="button" class="btn_move" id="btn_down" value="DOWN"/></td>
        <td>&nbsp;</td>
    </tr>
</table>
</p>
<p>
    <input type="button" id="btn_fire" value="FIRE"/><br>
    <input type="button" id="btn_load" value="Build up pressure"/>
    <input type="button" id="btn_abort" value="ABORT!!!!!!"/>
</p>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    //Ajax calls
    function moveTurret(direction, duration) {
        var data = {'direction': direction, 'magnitude': duration};
        console.log(data);
        $.get('/move', data, function (returndata) {
            console.log(returndata);
        });
    }
    function fireTurret(numberOfShots) {
        for (var i = 0; i < numberOfShots; i++) {
            $.get('/fire', function (returndata) {
                console.log(returndata);
            });
        }
    }
    function toggleLaser() {
        $.get('/laser', function (returndata) {
            console.log(returndata);
        });
    }
    function abortAction() {
        $.get('/abort', function (returndata) {
            console.log(returndata);
        });
    }
    function loadUp(duration) {
        $.get('/load', {'duration': duration}, function (returndata) {
            console.log(returndata);
        });
    }


</script>
<script>
    var duration = 50;//in ms: move duration + cooldown period
    var lastShot = 0;
    //Button controls
    $('.btn_move').click(function () {
        moveTurret(this.value, 10);
    });
    $('#btn_fire').click(function () {
        fireTurret(1);
    });
    $('#btn_abort').click(function () {
        abortAction();
    });
    $('#btn_load').click(function () {
        loadUp(100);
    });
    //Keyboard controls
    $(document).keypress(function (event) {
        event.preventDefault;
        if (event.timeStamp > (lastShot + duration)) {
            lastShot = event.timeStamp;
            //let the turret cool down

            switch (event.keyCode) {
                case 32:
                    fireTurret(1);
                    break;
                case 115:
                    moveTurret("DOWN", duration);
                    break;

                case 119:
                    moveTurret("UP", duration);
                    break;
                case 97:
                    moveTurret("LEFT", duration);
                    break;

                case 100:
                    moveTurret("RIGHT", duration);
                    break;

                default :
                    console.log(event.keyCode);
                    break;

            }
        }
    });
</script>
<script>
    //Gamepad support
    var hasGP = false;
    var repGP;

    function canGame() {
        return "getGamepads" in navigator;
    }

    function gamepadControls() {
        var duration = 100;
        var gp = navigator.getGamepads()[0];


        for (var i = 0; i < gp.buttons.length; i++) {
            if (gp.buttons[i].pressed) {
                console.log(i + "pressed");
            }
        }
        if (gp.buttons[4].pressed) {
            console.log("FIRE!");
            fireTurret(1);
        }


        for (var i = 0; i < gp.axes.length; i += 2) {
            var X = gp.axes[i];
            var Y = gp.axes[i + 1];
            if (X == -1) {
                console.log('LEFT');
                moveTurret('LEFT', duration);
            }
            if (X == 1) {
                console.log('RIGHT');
                moveTurret('RIGHT', duration);
            }
            if (Y == -1) {
                moveTurret('UP', duration);
                console.log('UP');
            }
            if (Y == 1) {
                moveTurret('DOWN', duration);
                console.log('DOWN');
            }
        }
    }
    $(document).ready(function () {
        var interval = 100;

        if (canGame()) {

            var prompt = "To begin using your gamepad, connect it and press any button!";
            $("#gamepadPrompt").text(prompt);

            $(window).on("gamepadconnected", function () {
                hasGP = true;
                $("#gamepadPrompt").html("Gamepad connected!");
                console.log("connection event");
                repGP = window.setInterval(gamepadControls, interval);
            });

            $(window).on("gamepaddisconnected", function () {
                console.log("disconnection event");
                $("#gamepadPrompt").text(prompt);
                window.clearInterval(repGP);
            });

            //setup an interval for Chrome
            var checkGP = window.setInterval(function () {
                console.log('checkGP');
                if (navigator.getGamepads()[0]) {
                    if (!hasGP) $(window).trigger("gamepadconnected");
                    window.clearInterval(checkGP);
                }
            }, interval);
        }

    });

</script>
</html>
